&
    position absolute
    top 0px
    left 0px
    width 912px
    height 120px
    transform scale(0.3)
    transform-origin 0px 0px
    .upper
    .lower
    .new
    .old
        position absolute
        left 0px
        width 100%
        overflow hidden
    .new
        top 0px
    .old
        bottom 0px
    .new
    .old
        span
            line-height 0px
            font-size 60px
            color white
            position absolute
            left 30px
            top 57px
    .lower
        .new
        .old
            span
                top -3px

    .upper
        top 0px

    .lower
        top 60px
        .new
            z-index 1
    .upper
    .lower
        height 60px
        .new
        .old
            height @height
    .upper
        .new
        .old
            background black url('./img/flipboard.png') no-repeat -86px 0px
    .lower
        .new
        .old
            background black url('./img/flipboard.png') no-repeat -86px -60px
