@import prefixes
@import colors
body
    margin 0px
    line-height 1.3em
    font-family arial, sans-serif
    svg
        position absolute
        top 0px
        left 0px
        path
            fill none
    #flipboards
        position absolute
        top 0px
        right 0px
        width 575px
        opacity 0
    .flipboard
        @import flipboard
    .flipboard
        &.toPlace
            left 300px
        &.date
        &.counter
        &.delays
            top 85px
            left auto
            transform-origin 100% 0px
        &.date
            width 399px
            right 302px
            h2
                left 47px
        &.counter
            width 250px
            right 200px
            h2
                left 116px
            .upper
            .lower
                width 150px
            span
                display block
                width @width
                left -110px
                text-align right
        &.delays
            left auto
            right 0px
            width 500px
            h2
                left 120px

    .overlay
        position absolute
        top 0px
        left 0px
        bottom 0px
        width 100%
        background white
        background rgba(255,255,255,0.4)
        &:hover
            cursor pointer
        div
            position absolute
            top 50%
            left 50%
            width 340px
            padding 20px 0px
            margin-left (@width / -2)
            text-align center
            margin-top -30px
            font-size 1.4em
            border 4px solid #666
            background #eee
            border-radius 20px
            &:hover
                background #dadada
    #animationControl
        opacity 0
        button
            position absolute
            top 10px
            left 10px
            padding 4px 8px
            border 2px solid #444
            background #222
            border-radius 4px
            color #ccc
            &:hover
                background #333
                cursor pointer
