@import prefixes
@import colors
body
    margin 0px
    line-height 1.3em
    font-family arial, sans-serif
    svg
        position absolute
        top 0px
        left 0px
        path
            fill none
            &:hover
                stroke red
            &.active
                stroke red
                stroke-width 5px
                fill red
    #flipboards
        position absolute
        top 0px
        right 0px
        width 575px
    .flipboard
        @import flipboard
    .flipboard
        &.toPlace
            left 300px
        &.date
            top 60px
            width 399px
